<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjf.server.mapper.TallyBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pjf.server.entity.TallyBook">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="types_id" property="typesId" />
        <result column="img_url" property="imgUrl" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, types_id, img_url, user_id
    </sql>

</mapper>
