<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjf.server.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pjf.server.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="nickname" property="nickname"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="img_url" property="imgUrl"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="notion_id" property="notionId"/>
        <result column="email" property="email"/>
        <result column="enabled" property="enabled"/>
        <result column="id_card" property="idCard"/>
        <result column="birthday" property="birthday"/>
        <result column="create_date" property="createDate"/>
    </resultMap>
    <resultMap id="UserWithRole" type="com.pjf.server.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.pjf.server.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, gender, nickname, username, password, img_url, phone, address, notion_id, email, enabled, id_card, birthday, create_date
    </sql>
    <select id="getRoles" resultType="com.pjf.server.entity.Role">
        select role.id, role.name, role.name_zh
        from sp_role as role
                 left join sp_user_role as sur on role.id = sur.id
        where sur.id = #{id}
    </select>
    <select id="getAllUsers" resultMap="UserWithRole">
        select distinct a.*, r.id as rid, r.name as rname, r.name_zh as rnameZh
        from sp_user a
                 left join
             sp_user_role ar on a.id = ar.user_id
                 left join
             sp_role r on r.id = ar.role_id
        order by a.id
    </select>

</mapper>
